<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>
<body>

{% load banners %}
{% banner place-slug as banner %}
{% if banner %}
    <a href="{% url banner_click banner.id %}?place_slug=place-slug"><img src="{{ banner.file.url }}" alt=""/></a>
{% endif %}    <!--{% if form.errors %}-->
        <!--<p style = "color:red;">Please solve these errors: {{ form.errors}}</p>-->
    <!--{% endif%}-->
    <form action = "" method = "POST">
       <div class = "field">
           {{ form.subject.errors }}
           <label for="id_subject">Subject:</label>
           {{form.subject }}
       </div>
        <div class = "field">
           {{ form.email.errors }}
           <label for="id_e-mail">Your e-mail:</label>
           {{form.email }}
       </div>
        <div class = "field">
           {{ form.message.errors }}
           <label for="id_message">Your message:</label>
           {{form.message }}
       </div>
        <!--<table>-->
            <!--{{form.as_table}}-->
        <!--</table>-->
        <input type = "submit" value = "Send">

    </form>
</body>
</html>